@media screen and (max-width: 970px) {
    .filters {
        display: none;
        /*opacity: 0;*/
    }
    .footer_details.connect{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .filters {
        display: none;
        /*opacity: 0;*/
    }
    .shake.logo{
        /*display:none;*/
    }
    .image_logo.main{
        margin-left: -20px !important;
    }
    
    .footer_details.connect{
        display: block;
    }
    .header.connect{
        display: none;
    }
}